body {
    
   margin: 0;
    padding: 0;
    background: #000;
    
}

.menu{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
    
}

.menu span {
    
    position: absolute;
    width: 30px;
    height: 2px;
    background: #262626;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: 0.2s;
    
    
}

.menu span:nth-child(1) {
    
    transform: translateY(-10px);
}

.menu span:nth-child(3) {
    
    transform: translateY(10px);
}